.Rproj.user
.Rhistory
.RData
.Ruserdata
model_outputs/
do/
*.pdf
*.docx
data/*
!building_models/reference.docx

/.quarto/
graphs/
reports/

**/*.quarto_ipynb
CLAUDE.md
R/dump_code.R

# Ignoring files in figs
/figs/*

# Ignoring manuscript folder
/manuscript/